ion-card-subtitle {
    font-size: 15px;
    font-style: italic;
    margin: 20px 20px 0 20px;
    color: orangered;
}

a {
    color: rgb(70, 58, 58);
    text-decoration: none;
}

ion-item {
    margin: 0 50px 0 30px;
    color: rgb(70, 58, 58);
}

.back {
    margin-left: 0;
}

.logout {
    margin-left: 60%;
}

img {
    margin: 5% 25% 5% 25%;
    width: 50%;
    height: 100px;
}