<ion-header>
  <ion-toolbar>
    <ion-title>Mes documents</ion-title>
    <ion-button button (click)='onReturn()' color="light" class="back">Retour</ion-button>
    <ion-button button (click)='onLogout()' color="light" class="logout">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card-subtitle>Documents manquants</ion-card-subtitle>
  <ion-item *ngFor="let file of files" class="item-label item ios in-list ion-focusable hydrated">
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2 (click)="onAddFile(file.fk_document_id)">{{ file.label }}</h2>
    </ion-label>
  </ion-item>

  <ion-card-subtitle>Mes documents téléversés</ion-card-subtitle>
  <ion-item *ngFor="let uploadedFile of uploadedFiles" class="item-label item ios in-list ion-focusable hydrated">
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <a (click)='onSavePath(uploadedFile.file_path, "false")'>{{ uploadedFile.label }}</a>
    </ion-label>
  </ion-item>

  <ion-card-subtitle>Mes documents reçus</ion-card-subtitle>
  <ion-item *ngFor="let receivedFile of receivedFiles" class="item-label item ios in-list ion-focusable hydrated">
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <a (click)='onSavePath(receivedFile.file_path, "true")'>{{ receivedFile.label }}</a>
    </ion-label>
  </ion-item>

  <div *ngIf="!received">
    <div *ngIf="image">
      <ion-card-subtitle>Document</ion-card-subtitle>
      <img src="{{path}}" (click)='onDetails(path, "false")' />
    </div>
    <div *ngIf="pdf" (click)='onDetails(path, "false")'>
      <ion-card-subtitle>Document</ion-card-subtitle>
      <pdf-viewer [src]="path" [original-size]="false"></pdf-viewer>
    </div>
  </div>

  <div *ngIf="received">
    <div *ngIf="image">
      <ion-card-subtitle>Document</ion-card-subtitle>
      <img src="{{path}}" (click)='onDetails(path, "true")' />
    </div>
    <div *ngIf="pdf" (click)='onDetails(path, "true")'>
      <ion-card-subtitle>Document</ion-card-subtitle>
      <pdf-viewer [src]="path" [original-size]="false"></pdf-viewer>
    </div>
  </div>
</ion-content>