img {
    margin: 0% 10% 0% 10%;
    width: 80%;
    height: 200px;
}

h5 {
    margin-left: 10%;
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
}

p {
    text-align: end;
    margin-right: 11%;
    color: black;
}

.back {
    margin-left: 0;
}

.logout {
    margin-left: 60%;
}

.update {
    width: 50%;
    margin: 0 25% 5% 25%;
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 0 12% 5% 12%;
}

.camera-btn {
    margin: 0 37% 0 37%;
    height: 50px;
    width: 25%;
}

.p {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    color: orangered;
}

ion-spinner {
    transform: scale(3);
    margin-left: 45%;
    margin-top: 50%;
}