<ion-header>
  <ion-toolbar>
    <ion-title>Détails du document</ion-title>
    <ion-button button (click)='onReturn()' color="light" class="back">Retour</ion-button>
    <ion-button button (click)='onLogout()' color="light" class="logout">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!load">
  <ion-card>
    <h5>{{label}}</h5>
    <img src="{{newPath}}" *ngIf='image'/>
    <pdf-viewer [src]="newPath" [original-size]="false" *ngIf='pdf'></pdf-viewer>
    <p>Date de création : {{date}}</p>
    <div *ngIf="condition === 'false' && status == 0">
      <ion-button button (click)='onUpdate()' color="tertiary" class="update">Mettre à jour</ion-button>
    </div>
  </ion-card>

  <ion-card *ngIf="update">
    <p class="p">Choisir un fichier dans votre galerie</p>
    <form [formGroup]='fileForm' (ngSubmit)='onSubmit()' enctype="multipart/form-data" class="form">
      <input type="file" formControlName="file" id="file" name="file" (change)="handleFileInput($event.target.files)">
      <ion-button type="submit" class="btn" color="tertiary">Envoyez</ion-button>
    </form>

    <p class="p">Prendre une photo</p>
    <ion-button (click)='takePicture()' class="camera-btn" color="tertiary">
      <ion-icon name="camera-outline" class="icon"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>

<ion-content *ngIf="load">
  <ion-spinner name="circles">
  </ion-spinner>
</ion-content>