<ion-header>
  <ion-toolbar>
    <ion-title>Nouveau fichier</ion-title>
    <ion-button button (click)='onReturn()' color="light">Retour</ion-button>
    <ion-button button (click)='onLogout()' color="light" class="logout"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Choisir une image dans votre galerie</p>
  <form [formGroup]='fileForm' (ngSubmit)='onSubmit()' enctype="multipart/form-data" class="form">
    <input type="file" formControlName="file" id="file" name="file" (change)="handleFileInput($event.target.files)">
    <ion-button type="submit" class="btn" color="tertiary">Envoyez</ion-button>
  </form>

  <p>Prendre une photo</p>
  <ion-button (click)='takePicture()' class="camera-btn" color="tertiary">
    <ion-icon name="camera-outline" class="icon"></ion-icon>
  </ion-button>
</ion-content>