.form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 0 12% 0 12%;
}

.btn {
    margin: 5% 25% 0 25%;
    font-size: 18px;
}

p {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    color: orangered;
    margin-top: 20%;
}

.camera-btn {
    margin: 0 37% 0 37%;
    height: 50px;
    width: 25%;
}

.icon {
    width: 45px;
    height: 45px;
}

.logout {
    margin-left: 60%;
}