.form {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    text-align: center;
}

.input {
    width: 50%;
    margin: 0 25% 5% 25%;
}

.img {
    margin: 5% 5% 3% 4%;
    width: 90%;
    height: 150px; 
}

ion-button {
    margin: 0 25% 0 25%;
}

.error {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    color: orangered;
}

.back {
    margin-left: 0;
}