<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
    <ion-button button (click)='onReturn()' color="light" class="back">Retour</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="img" src="https://www.jlassure.com/images/Logo_JLA_OrangEtBleu_u0xwcyc3.png" />
  <form [formGroup]='registerForm' (ngSubmit)='onSubmit()' class="form">
    <label for="email" class="label">Email</label>
    <input type="email" formControlName="email" id="email" name="email" class="input">
    <label for="password" class="label">Mot de passe</label>
    <input type="password" formControlName="password" id="password" name="password" minlength="6" class="input">
    <label for="confirm_password" class="label">Confirmation mot de passe</label>
    <input type="password"  formControlName="confirm_password" id="confirm_password" name="confirm_password" minlength="6" class="input">
    <ion-button button type="submit" [disabled]="!registerForm.valid">Envoyez</ion-button>
  </form>

  <p *ngIf="!res" class="error">Email ou mot de passe incorrect</p>
  <p *ngIf="!confirm" class="error">Les mots de passes ne correspondent pas</p>
</ion-content>