<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
    <ion-button button (click)='onReturn()' color="light" class="back">Retour</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="img" src="https://www.jlassure.com/images/Logo_JLA_OrangEtBleu_u0xwcyc3.png" />
  <form [formGroup]='loginForm' (ngSubmit)='onSubmit()' class="form">
    <label for="username" class="label">Email</label>
    <input type="email" formControlName="username" id="username" name="username" class="input">
    <label for="password" class="label">Mot de passe</label>
    <input type="password" formControlName="password" id="password" name="password" class="input">
    <ion-button button type="submit" [disabled]="!loginForm.valid" color="tertiary">Envoyez</ion-button>
  </form>

  <p *ngIf="!res" class="error">Informations invalides</p>
  <p *ngIf="!confirm" class="error">Veuillez valider votre compte pour vous connecter</p>
</ion-content>