ion-card {
    padding: 10%;
}

h2 {
    font-family: cursive;;
    font-size: 25px;
    color: orangered;
}

p {
    font-family: monospace;
    font-size: 15px;
    color: black;
}

.logout {
    margin-left: 80%;
}

.status {
    color: grey;
    text-align: end;
}

.color {
    background-color: rgb(243, 240, 240);
}