<ion-header>
  <ion-toolbar>
    <ion-title>Mes affaires</ion-title>
    <ion-button button (click)='onLogout()' color="light" class="logout">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let element of elements0" (click)="onGetFiles(element.id, 0)">
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>{{ element.title }}</h2>
      <p class="status">En cours</p>
    </ion-label>
    <p>N° d'affaire : {{ element.affairs_number }}</p>
    <p>{{ element.description }}</p>
  </ion-card>

  <ion-card *ngFor="let element of elements1" (click)="onGetFiles(element.id, 1)" class="color">
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>{{ element.title }}</h2>
      <p class="status">Terminée</p>
    </ion-label>
    <p>N° d'affaire : {{ element.affairs_number }}</p>
    <p>{{ element.description }}</p>
  </ion-card>
</ion-content>