#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.title {
  text-align: center;
}

.img{
  margin: 5% 5% 3% 4%;
  width: 90%;
  height: 150px; 
}

.text {
  text-align: center;
}

ion-row {
  display: flex;
  flex-direction: column;
  margin: 0 25% 0 25%;
}