<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large" class="title">
      JLDropOff
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="img" src="https://www.jlassure.com/images/Logo_JLA_OrangEtBleu_u0xwcyc3.png" />
  <ion-card>
    <p class="text">Bienvenue sur JLDropOff. Tous vos documents regroupés dans votre espace personnel !</p>
  </ion-card>
  <ion-row>
    <p class="text">J'ai un compte ?</p>
    <ion-button button color="tertiary" class="col text-center" routerLink="/login">
      Me connecter
    </ion-button>
    <p class="text">Pas encore inscrit ?</p>
    <ion-button button color="tertiary" class="btn" routerLink="/register">
      M'inscrire
    </ion-button>
  </ion-row>
</ion-content>